<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- Chat Messages -->
       <app-chat-message text="Write what you would like me to read to you."></app-chat-message>

      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-chat-message [text]="message.text" [audioUrl]="message.audioUrl"></app-chat-message>
        } @else {
          <app-my-message [text]="message.text"></app-my-message>
        }
      }

      @if (isLoading()) {
        <app-typing-loader></app-typing-loader>
      }

    </div>
  </div>

  <!-- Message Box-->
  <app-text-message-box-select
    placeholder="Write the text..."
    [options]="data()"
    (onMessage)="handleMessageWithSelect($event)"
  ></app-text-message-box-select>
</div>
